* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #FAF4ED;
  color: #2B1B12;
}

/* NAVBAR */
header {
  background: #7A5432;
  padding: 15px 8%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  color: #F5E6D3;
}

nav h1 span {
  color: #D4A373;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: #F5E6D3;
  text-decoration: none;
}

nav a.active,
nav a:hover {
  color: #D4A373;
}

/* HERO */
.hero {
  background: url("images/BG.jpg") center/cover no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  background: rgba(0,0,0,0.55);
  color: white;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
}

/* SECTIONS */
section {
  padding: 70px 10%;
  text-align: center;
}

.about, .mission {
  background: #F5E6D3;
}

/* BUTTON */
.btn {
  background: #D4A373;
  color: #2B1B12;
  padding: 12px 30px;
  border-radius: 25px;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
}

.btn:hover {
  background: #7A5432;
  color: #F5E6D3;
}

/* MENTORS */
.mentors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 40px;
}

.card {
  background: white;
  width: 230px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  cursor: pointer;
}

.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #FAF4ED;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

.close {
  cursor: pointer;
  font-size: 24px;
  float: right;
}

/* FOOTER */
footer {
  background: #2B1B12;
  color: #F5E6D3;
  text-align: center;
  padding: 15px;
}
